@font-face {
  font-family: 'HarmonyOS Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/HarmonyOS_Sans_Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'HarmonyOS Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/HarmonyOS_Sans_Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'HarmonyOS Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/HarmonyOS_Sans_Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'MapleCN-NerdFont';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/MapleMono-NF-CN-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'MapleCN-NerdFont';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/MapleMono-NF-CN-Bold.woff2') format('woff2');
}
